<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Synnc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47A4E6781C0CAE6100354EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47A4E68C1C0CAE6200354EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47A4E6971C0CAE6200354EA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
